
	RN_baseUrl=https://randomuser.me/api/
	RN_baseUrlStaging=https://randomuser.me/api/
	RN_baseUrlProduction=https://randomuser.me/api/
	RN_status=development
	RN_sentry=
	RN_oneSignal=
	RN_version=
	RN_buildVersion=
	RN_codepushVersion=
	RN_CODEPUSH_ANDROID_KEY=

